
    .cardsContainer {
      margin: 0 auto;
      padding: 3%;
      width: 90%;
    }

    .card-row {
      margin-bottom: 20px;
    }

    .card-img-top {
      width: 100%;
    }

    .hidden-card {
      visibility: hidden;
    }

    .card a:hover {
       text-shadow:0px 0px 1px blue;
       text-decoration: none;
    }

    .fa-times {
      color: red;
    }

    .fa:hover {
          -webkit-transform: scale(1.4);
          -ms-transform: scale(1.4);
          transform: scale(1.4);
          
    }


    .myVideoesDeleteBtn {
      float: right;
      display: none;
    }

    .disableClick{
        pointer-events: none;
    }

    .deleted-card {
      opacity: 0.5;
    }

    #deleteSelectedVideosBtn {
      display: none;
    }

    .myVideosEditBtn {
      display: none;
    }

    h2 {
      margin-bottom: 34px;
    }

    .my-videoes-card {
      background: #F3F3F3;
    }

    li h5 {
      padding: 0px;
      margin: 0px;
    }

    ol li {
      border: 2px solid black;
      padding-left: 4px;
      margin-bottom: 4px;
      border-radius: 2px;
      width: 400px;
      background: #E3E3E3;
    }

    #sortPlaylistsDiv {
      width: 600px;
    }

    #playlistsListDiv {
      margin: 0px;
      padding: 0px;
      width: 400px;
      position: relative;
      left: 40px;
      margin-right: 40px;
    }

    #playlistsListDiv .fa-times {
      position: relative;
      float: right;
      margin-left: 6px;
    }

    #playlistsListDiv h5 {
      float: right;
      position: relative;
      left: -40px;
      top: 3px;
      width: 242px;
    }

    .fa-play-circle-o {
      float: left;
      margin-right: 20px;
      color: green;
      position: relative;
      left: -60px;
    }

    .fa-play-circle-o:hover {
       -webkit-transform: scale(1.4);
          -ms-transform: scale(1.4);
          transform: scale(1.4);
    }

    #sortPlaylistsDiv .fa-times {
      position: relative;
      top: -4px;
      float: right;
    }

    
    #uploadVideoDiv {
      width: 49%;
      margin-bottom: 30px;
      border: 1px solid #D3D3D3;
      border-radius: 6px;
      padding: 25px;
    }

    #newPlaylistDiv {
      width: 30%;
      margin-bottom: 30px;
      border: 1px solid #D3D3D3;
      border-radius: 6px;
      padding: 25px;
    }

    #subtitlesUploadDiv ul {
      margin: 5px 0px 15px 0px;
      padding: 0px;
    }

    #addSubtitleDiv {
      margin-left: 5px
    }

    #toggleEditPlaylists {
      position: relative;
      left:  -126px;
      margin-bottom: 20px;
    }

    .hidden-unless-edit-playlists {
      display: none;
    }



