
		#resultsContainer {
			/*border: 3px solid black;*/
			padding: 0px;
		}



		.card {
			width: 540px;
			padding: 0px;
			height: 135px;
			background: #F5F5F5;
			margin-bottom: 30px;
		}

		.card-block {
			padding: 0px;
		}

		.card img {
			width: 240px;
			height: 135px;
			margin: 0;
			float: left;

		}

		.cardTitleAndDescrptionDiv {
			float: left;
			padding: 10px;
			width: 296px;
			height: inherit;
			word-wrap: break-word;
			overflow: hidden;
		}

		.cardTitleAndDescrptionDiv p {
			height: 50px;
		}

		#searchDiv {
			margin-bottom: 40px;
		}

		#searchfield {
			background: #F8F8F8;
			border-right: 0;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			width: 240px;
		}

		#searchDiv button {
			border-left: 0px;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
