
    #videoAndTextContainer {
      margin: 0px;
      padding: 0px;
      width: 1360px;
      height: 56%;
    }

  #videoFrame {
    display: block;
    margin: 0px;
    padding: 0px;
    float: left;
  }

  .contentContainer {
    height: 100vh;
  }

  .pre-scrollable {
    max-height: 100%;
    overflow-y: scroll;
  }

  #addToPlayListContainer {
    float: left;
  }

  #descriptionDiv {
    margin: 50px 0px;
    width: 960px;
  }

  .autoplayBtnOff {
    opacity: 0.3;
  }

  #autoplayBtn {
    float: right;
  }

  #extraControls {
    margin: 0px;
    padding: 0px;
    width: 960px;
    height: 37px;
    background: #E1E1E1;
  }

  #extraControls .btn {
    border:  none !important;
  }

  #video {
    width: 960px;

    border: 1px solid #B1B1B1;
    border-right: 0px;
    padding: 0;
    margin: 0px;
    padding: 0px;

  }




/* PLAYLIST CSS START*/
    #playlistContainer {
      width: 900px;
      float: left;
    }

    #playlistContainer i {
      float: left;
      position: relative;
      top: 26px;
    }

    #playlistContainer img {
      width: 160px;
      height: 90px;
    }

    #playlistVideosContainer {
      width: 812px;
      height: 94px;
      border: 1px solid black;
      float: left;
      margin: 0px 15px;
    }

    #playlistVideosContainer li {
      float: left;
      border: 1px solid black;
      width: 162px;
      height: 92px;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    #playlistVideosContainer ul {
      float:  left;
      margin: 0;
      padding: 0;
    }


    .activeVideoInPlayList {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1);
          transition: 0.4s ease;
    }

    .faded-arrow {
      opacity: 0.2;
    }

    .hidden-video {
      display: none;
      transition: 0.4s ease;
    }



    /**SUBS CSS*/
    #textDiv{
      background: #F4F4F4;
      padding: 2px 10px;
      background: ;
      border: 1px solid #B1B1B1;
      border-left: none;
      width: 400px;
      height: 540px;
      float: right;
      overflow-y: scroll
    }

    .highlight {
      color: blue;
      text-decoration: underline;
    }

    #languageSelect {
      margin: 0px;
      padding: 0px;
      width: 100px;
    }

    #speedSelect ul {
      height: 300px;
    }

    .dropdown {
      float: left;
    }

/*RATINGS*/

		#ratingContainer {
			width: 120px;
			margin-top: 8px;
			float:left;
		}

		#ratingContainer i {
			margin: 2px;
			float:left;
		}

		.activeStar {
			color:yellow;
		}

		#rateItText {
			margin: 5px 7px 0px 80px;
			float:left
		}
